img {
  width: 400px;
  display: block;
  margin: auto;
}

.card-width img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: 10% 100%;
  padding: 1rem 1rem 0 1rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  border-width: 2px;  
  border-bottom-style: outset;
  border-color: aliceblue
}

h3 {
  text-align: center;
  border-width: 2px;  
  border-bottom-style: outset;
  border-color: aliceblue
}

.justify p {
  text-align: justify;
  margin-left: 2rem;
}

.jumbotron {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1rem;
  padding: 1rem;
}

.float_right img {
  float: right;
  width: 4%;
}