.card {
  margin: 0 10px 20px 10px;
}

.card-width img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: 10% 100%;
  padding: 1rem 1rem 0 1rem;
}

.float_right img {
  float: right;
  width: 20px;
}

.jumbotron {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1rem;
  padding: 1rem;
}

.jumbotron img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.justify p {
  text-align: justify;
  margin-left: 2rem;
}

.justify-content-end {
  margin-right: 5rem;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}


h2, h3 {
  text-align: center;
  border-width: 2px;  
  border-bottom-style: outset;
  border-color: aliceblue
}

img {
  width: 400px;
  display: block;
  margin: auto;
}

span > a > img {
  height: 20px;
  width: auto;
  margin-left: -1.5rem;
}


